body {
  margin: 0 auto;
}

.App {
  margin: 50px auto 0;
  width: 550px;
  background-color: #F5F7FB;
}

.karla {
  font-family: 'Karla', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

/* Start Page */
.start-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.start-container > h1 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 36.53px;
  margin: 0;
  color: #293264;
}

.start-container > h2 {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #293264
}

.start-container > button {
  margin: 29px 0 0;
  color: #F5F7FB;
  border: none;
  background-color: #4D5B9E;
  width: 193px;
  height: 52px;
  border-radius: 15px;;
}

.start-container > button:hover {
  background-color: #818ED0;
  color: #F5F7FB;
  cursor:pointer;
}

.top {
  position: absolute;
  right: 0;
  top: 0;
}

.bot {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Single Question */
.singlequestion-container {
  padding: 40px 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.singlequestion-container h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.7px;
  color: #293264;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.answer-button {
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12.39px;
  color: #293264;
  outline: none;
  border-color: #4D5B9E;
  margin: 10px 5px;
  padding: 5px 10px 4px;
  background-color: #F5F7FB;
  border-radius: 7.94px;
  transition: all 150ms linear;
}

.answer-button:hover {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
  cursor:pointer;
}

.selected {
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12.39px;
  color: #293264;
  outline: none;
  margin: 10px 5px;
  padding: 5px 10px 4px;
  border-radius: 7.94px;
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}

.singlequestion-container hr {
  width: 399px;
}

.check-button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-style: medium;
  font-size: 10.24px;
  line-height: 12px;
  padding: 10px 22px;
  border-radius: 10px;
  border: none;
  transition: all 150ms linear;
}

.check-button:hover {
  color: #4D5B9E;
  background-color: #D6DBF5;
  border-color: #D6DBF5;
  cursor:pointer;
}

.selected {
  color: #4D5B9E;
  background-color: #D6DBF5;
  border-color: #D6DBF5;
}

/* Checked */
.playagain-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playagain-container h2 {
  color: #293264;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15.49px;
  margin-right: 15px;
}